{{!< default}}

<section class="hero background-img is-large" style="background-image: url('{{@blog.cover_image}}')">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <!--{{@blog.title}}-->
        미국 의대 진학 
      </h1>
      <h2 class="subtitle">
        <!--{{@blog.description}}-->
        어려운 것 만은 아닙니다!
      </h2>
    </div>
  </div>
</section>

<section id="steth" class="container">
  <div class="columns">
    <div class="column is-one-quarter is-paddingless">
      <img class="image" src="/assets/images/stethescope.jpg" style="min-height: 26rem; object-fit: cover; ">
    </div>
    <div class="column has-text-light dark-bg">
      <h4>Title here</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<section id="announcements" class="container" style="margin-bottom: 2rem; ">
  <div class="section-title" style="min-height: 3rem; ">
    <div style="position: absolute; top: 2rem; right: 10rem; ">
      <div class="square" style="display: flex; align-items: center; justify-content: center; position: absolute; height: 3rem; width: 10rem; background-color: #2f75c7; ">
        <p class="is-size-4 has-text-weight-semibold has-text-light">
          Test!
        </p>
      </div>
      <div class="square" style="position: absolute; height: 3rem; width: 10rem; background-color: #00c5a8; top: 0.5rem; left: 0.5rem; z-index: -1; ">
      </div>
    </div>
  </div>
  <div class="columns" style="">
    <div class="column">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/zUQLoQoTOZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column">
      <article class="media">
        <figure class="media-left" style="display: flex; justify-content: center; ">
          <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
            <strong class="is-size-4">John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
        </div>
        <div class="media-right">
        </div>
      </article>
      <article class="media">
        <figure class="media-left" style="display: flex; justify-content: center; ">
          <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
            <strong class="is-size-4">John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
        </div>
        <div class="media-right">
        </div>
      </article>
      <article class="media">
        <figure class="media-left" style="display: flex; justify-content: center; ">
          <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
            <strong class="is-size-4">John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
        </div>
        <div class="media-right">
        </div>
      </article>
    </div>
  </div>
</section>

<section id="grid" class="container has-background-light">
  <div class="columns is-gapless">
    <div class="column">
        <figure class="image is-square">
          <img src="/assets/images/1.jpg">
        </figure>
    </div>
    <div class="column has-text-centered">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="column">
        <figure class="image is-square">
          <img src="/assets/images/2.jpg">
        </figure>
    </div>
    <div class="column has-text-centered">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="columns is-gapless">
    <div class="column has-text-centered">
      <p>Stemri Consulting</p>
    </div>
    <div class="column">
        <figure class="image is-square">
          <img src="/assets/images/3.jpg">
        </figure>
    </div>
    <div class="column has-text-centered">
      <p>Stemri Consulting</p>
    </div>
    <div class="column">
        <figure class="image is-square">
          <img src="/assets/images/4.jpg">
        </figure>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column"></div>
  </div>
</section>

<!--
<section class="posts">
  <div class="container">
    {{!-- Latest Posts --}}
    <div class="columns is-multiline">
      {{#foreach posts }}
        <div class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
          {{> post-card class="bottom-border"}}
        </div>
      {{/foreach}}
    </div>

    {{pagination}}
  </div>
</section>
-->
