{{!< default}}
<div class="columns">
  <div class="column">
    <div class="header has-text-centered">
      <p class="title">STEM Research Institute</p>
      <p class="subtitle"></p>
    </div>
    <section style="padding-top:5rem; margin-left:10rem; margin-right:10rem;">
      <div class="content">
        차별화된 시스템으로 학생들을 관리 Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Nunc quis massa eu odio sollicitudin pretium et tincidunt tortor.
        Etiam eu quam ut ante tristique laoreet. ras id nulla in enim sollicitudin tincidunt.
        Nam id congue velit. Duis efficitur porta ex, in accumsan enim porta sed.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

      </div>
    </section>
  </div>
</div>

<section style="padding-top:5rem; padding-bottom:5rem;">
  <div class="columns is-mobile fact-box">
    <div class="column is-half">
      <div class="has-text-centered">
        <p class="title is-one-fifth fact">
        1,234
        </p>
        <footer class="">
          <p class=""> Students who got accepted into med-school
          </p>
        </footer>
      </div>
    </div>


    <div class="column is-half">
      <div class="has-text-centered">
        <p class="title is-one-fifth fact">
        1,234
        </p>
        <footer class="">
          <p class=""> Students who got accepted into med-school
          </p>
        </footer>
      </div>
    </div>
  </div>

  <section style="padding-top:5rem; margin-bottom:7rem;">
    <div class="columns is-mobile fact-box">
      <div class="column is-half">
        <div class="has-text-centered">
          <p class="title is-one-fifth fact">
          345
          </p>
          <footer class="">
            <p class=""> Number of medical projects students participated
            </p>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="has-text-centered">
          <p class="title is-one-fifth fact">
          345
          </p>
          <footer class="">
            <p class=""> Number of medical projects students participated
            </p>
          </footer>
        </div>
      </div>
    </div>
  </section>
</section>






<div class="box has-background-link" style="display: flex; justify-content: center; ">
  <div class="container columns is-full">

    <div class="column has-text-white">
      미국 버지니아 페어펙스 커운티에 위치한 스템 연구소는 각 분야의 전문 과학자들과 미국의대 출신의 의사들로 구성된
      의, 치대 진학 전문 컨설팅 그룹으로 2009년 미 동부 버지니아에 설립되었다.
      현재 서울, 뉴욕 그리고 캘리포니아 오렌지 카운티, 뷰에나 팍에 분원을 설립하여 학생들을 지도 관리하고 있다.

      스템 연구소의 주요 프로그램은 의대를 지망하는 학생들을 위한 컨설팅 및 교육으로.
      미국 의대에 진학하기 위해 필요한 성적 관리와 DAT/MCAT 준비, 봉사활동 및 사이언스 연구 등
      준비해야 할 필수 사항에 대한 정보를 제공하는 것 뿐만 아니라
      의대 진학에 필요한 의료 실습 과정들을 학생들이 단계별로 준비할 수 있도록 지도하고 관리하는 시스템을 갖추고 있다.

      또한 스템 연구소에서는 개별 프로그램으로 논문 연구와 연구과제 수행을 위해 메릴랜드에 과학 실험실을 보유하고
      다양한 분야의 연구를 고등학생 및 대학생들과 함께 진행하고 있으며
      이 곳에서 학생들은 전문 과학자들과 함께 연구에 참여한 후 논문을 작성해 국제 학술지 및 학회에 발표할 기회를 가짐으로써
      의, 치대 진학의 꿈을 실현하는 준비를 해나가고 있다.

      스템 연구소에서는 매년 여름과 겨울 방학 동안에는 MCAT, DAT 준비를 위한 차별화된 단기 합숙캠프를 열고 있으며,
      국내에서 뿐만이 아니라 아프리카와 베트남의 병원에서 의료 봉사활동과 현지 병원 의사들과 공동연구과제를 수행하여
      말라리아, HIV등의 질병을 연구해 눈문을 발표하고 있다.
    </div>

  </div>

</div>

<div class="has-background-white">
  <div class="tile is-parent has-text-centered">
    <article class="tile is-child notification has-background-white">
      <p class="title">What's Next?</p>
      <p class="subtitle"></p>
      <section style="padding-top:5rem; margin-left:10rem; margin-right:10rem;">
        <div class=" content">
          궁금하신 점이나 프로그램을 더 자세히 알고 싶으시면 이메일 또는 전화를 주시면 답변해 드리겠습니다.
          전문 컨설턴트와의 진로상담을 제공합니다. consectetur adipiscing elit. Nunc quis massa eu odio sollicitudin pretium et tincidunt
          tortor.
          Etiam eu quam ut ante tristique laoreet. ras id nulla in enim sollicitudin tincidunt.
          Nam id congue velit. Dui
        </div>
    </article>
  </div>
</div>

<div class="box has-background-link" style="padding-top:5rem; padding-bottom:10rem;">
  <div class="container columns is-full">

    <div class="column has-background-white">
      <p class="title"></p>
      <p class="subtitle">Virginia</p>
      <div class="content">
        <p>8408 Arlington Blvd. #101
        Fairfax, VA 22031
        +1-703-789-4134</p>
      </div>
    </div>

    <div class="column has-background-light">
      <p class="title">
      <p class="subtitle">California</p>
      <p>6301 Beach Blvd. #202
      Buena Park, CA 90621
      +1-714-400-2080</p>
    </div>
    <div class="column has-background-light">
      <p class="title">
      <p class="subtitle">S.Korea</p>
      <div class="content">
        <p>강남구 신사동 570-6
        베드로 빌딩 702호
        010-3795-3599</p>
      </div>
    </div>
  </div>
</div>
